
.todo-list-item {
    font-size: 1rem;
}

.todo-list-item button {
    width: 22px;
    height: 22px;
    margin: 3px;
    padding: 0;
}

.todo-list-item button i {
    font-size: 15px;
    padding: 0;
}

.todo-list-item-label {
    margin-left: 1rem;
    line-height: 1.6rem;
    cursor: pointer;
    user-select: none;
}

.todo-list-item.done .todo-list-item-label {
    text-decoration: line-through;
}

.todo-list-item.important .todo-list-item-label {
    font-weight: bold;
    color: steelblue;
}